version: "3.3"

services:

  php-app:
    container_name: php-els
    build:  "docker/php/"
    volumes:
      - "./app/:/var/www/html"
    ports:
      - "8080:80"
    depends_on:
      - elasticsearch
    networks:
      - elk-network

  python-app:
    container_name: python-els
    build:  "docker/python/"
    volumes:
      - "./py-app/:/var/www/html"
    tty: true
    depends_on:
      - elasticsearch
    networks:
      - elk-network
    

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.0.3
    container_name: elasticsearch
    environment:
      - xpack.security.enabled=false 
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512M -Xmx512M"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9200:9200
    #volumes:
    #  - elasticsearch-data:/usr/share/elasticsearch/data
    restart: always
    networks:
      - elk-network    
  kibana:
    image: docker.elastic.co/kibana/kibana:9.0.3
    container_name: kibana
    ports:
      - 5601:5601
    environment:
      - XPACK_SECURITY_ENABLED=false  # 無料機能のみ利用するため、セキュリティ機能を無効化
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - ELASTICSEARCH_USERNAME=kibana_system # Kibanaが使用するデフォルトのシステムアカウント
      - ELASTICSEARCH_PASSWORD=P@ssw0rd
    depends_on:
      - elasticsearch
    restart: always
    networks:
      - elk-network

  el-db:
    container_name: el-db
    image: mysql:8.0
    volumes:
      - ./docker/db/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./docker/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - MYSQL_DATABASE=homestead
      - MYSQL_USER=homestead
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=secret
      - TZ=Asia/Tokyo
      - DB_PORT=3306
    ports:
      - "3306:3306"
    networks:
      - elk-network
  
  phpmyadmin:
    image: phpmyadmin
    depends_on:
      - el-db
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOSTS=el-db
      - PMA_USER=root
      - PMA_PASSWORD=secret
    ports:
      - "3001:80"
    networks:
      - elk-network

networks:
  elk-network:
    driver: bridge    

#volumes:
#  elasticsearch-data:
#    driver: local